<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>0_o</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="page-top">
    <a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container">
            <button data-bs-toggle="collapse" class="navbar-toggler d-none" data-bs-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                    <!-- <li class="nav-item sidebar-brand">
                        <a class="nav-link active js-scroll-trigger" ref="#page-top">Brand</a>
                    </li> -->
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Achievements</a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#workExperience">Work Experience</a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="d-flex masthead"
        style="background-image:url('https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="container my-auto text-center">
            <img src="image3.png" id="smallImage" alt="">
            <h1 class="mb-1 white">Hi, I am Shivam,<br> a Freelancer</h1>
            <h3 class="mb-5 white">
                <em>student | web devloper | video editor | coder</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">About Me</a>
            <!-- <div class="overlay"></div> -->
        </div>
    </header>

    <section id="about" class="content-section bg-light py-0 flex">
        <div id="aboutText" class="container text-left py-5">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>-About Me</h2>
                    <p class="lead mb-5">
                        <span>
                            Hi, I am Shivam Bhasin, a B.Tech CSE student with a huge interest in technology, coding, and
                            development. Well, it all started with an idea to build a School Report Management System
                            for my school and I ended up learning full-stack development. Currently, I have hands-on
                            experience in Web development, Video Editing, Photo Editing, and competitive Programming. I
                            plan to be a Freelancer in these fields till I am pursuing my college and want to get a lot
                            of skills and experience in the industry. I am also a fast typer and a very fast learner.
                            <br><br>
                            My best interest is to develop new things and work in a good community and give back to the
                            community using my skills. I like to teach people how to code because it helps me gain
                            knowledge myself too. I am looking forward to contributing to Open Source too. I consider
                            myself as a forever student adapting to every challenge thrown towards me and accomplishing
                            it.
                            <br><br>
                            At the moment I am managing my college studies meanwhile I am also preparing my skills in
                            the freelancing industry but further on I would like to look into Internship opportunities
                            so that some real-life experience. You can talk to me about anything at my mail below on
                            this webpage.

                        </span>
                    </p>
                    <!-- <a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="#services">Achievements</a> -->
                </div>
            </div>
        </div>
        <div id="photoContainer" class="container px-0">
            <img src="image1.jpg" alt="NOT FOUND">
        </div>
    </section>

    <section id="services" class="content-section bg-primary text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Latest</h3>
                <h2 class="mb-5">Achievements</h2>
            </div>
            <div class="flex">
                <!-- <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i
                            class="icon-screen-smartphone"></i></span>
                    <h4><strong>Responsive</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div> -->
                <div class="mx-auto">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="fas fa-graduation-cap"></i></span>
                    <h4><strong>First Year</strong></h4>
                    <p class="mb-0 text-faded">CGPA 8.49</p>
                </div>
                <div class="mx-auto">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="fas fa-laptop-code"></i></span>
                    <h4><strong>2<i class="fas fa-star fa-xs"></i> Coder</strong></h4>
                    <p class="mb-0 text-faded">On Codechef</p>
                </div>
                <div class="mx-auto">
                    <span class="mx-auto service-icon rounded-circle mb-3"><i class="fas fa-school"></i></span>
                    <h4><strong>CBSE Boards</strong></h4>
                    <p class="mb-0 text-faded">Percentage: 94%</p>
                </div>
            </div>
        </div>
    </section>
    <section id="workExperience" class="callout py-auto pb-5" style="background-color: #f5f8fa;">
        <div class="container flex mb-5">
            <div class="titles">― WORK EXPERIENCE</div>
            <div>
                <span>
                    <h4 class="mb-2">Green Fields School Report Management Software</h4>
                    <h6>2019-2020</h6>
                    <p>
                        A self-designed full-stack web application made using HTML, CSS, Javascript, NodeJS, and
                        MongoDB. It also has a user authentication system using PassportJS.
                    </p>
                </span>
            </div>
        </div>
        <div class="container flex mb-5">
            <div class="titles">― EDUCATION</div>
            <div>
                <span class="mb-4">
                    <h4 class="mb-2">Manav Rachna International Institute Of Rsearch And Studies</h4>
                    <h6>2020-2024</h6>
                    <p>
                        B.Tech in Computer Science and Engineering with specialization in Cloud Computing by IBM.
                    </p>
                </span>
                <span class="mb-4">
                    <h4 class="mb-2">Green Fields School</h4>
                    <h6>2020-2008</h6>
                    <p>
                        12th Computer Science + 10th CBSE
                    </p>
                </span>
            </div>
        </div>
        <div class="container flex mb-5">
            <div class="titles">― COURSES</div>
            <div>
                <span class="mb-4">
                    <h4 class="mb-2">The Web Developer Bootcamp 2021</h4>
                    <h6>2019-2020</h6>
                    <p>
                        I learnt various tech stacks from this course like HTML, CSS, Javascript, NodeJS, ExpressJS,
                        Bootstrap and MongoDB.
                    </p>
                </span>
            </div>
        </div>
    </section>
    <section id="projects" class="content-section mb-5">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 projects ">
                    <div class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content mb-5">
                                <a href="http://tranquil-oasis-13718.herokuapp.com/">
                                    <h3>GREEN FIELDS SCHOOL REPORT MANAGEMENT SYSTERM</h3>
                                </a>
                                <p class="mb-0" id="project-desc">
                                    A full stack web software which can manage the details of all students
                                    and their marks and print a report card. It also has a user auth system.
                                    <br>
                                    Made using HTML, CSS, Javascript, NodeJS, ExpressJS, MongoDB
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="gfs.JPG">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center" id="contact">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="link-light social-link rounded-circle" target="_blank" rel="noreferrer noopener"
                        href="mailto: shivam_bhasin20@manavrachna.net"><i class="fas fa-at"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="link-light social-link rounded-circle" target="_blank" rel="noreferrer noopener"
                        href="https://www.linkedin.com/in/shivam-bhasin-465233166/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="link-light social-link rounded-circle" target="_blank" rel="noreferrer noopener"
                        href="https://www.instagram.com/shivam_bhasin2002/"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="link-light social-link rounded-circle" target="_blank" rel="noreferrer noopener"
                        href="https://github.com/ShivamBhasin2002"><i class="icon-social-github"></i></a>
                </li>
            </ul>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/stylish-portfolio.js"></script>
</body>

</html>