a{
    text-decoration: none;
    color: white;
}

#heading{
    background-image:url('https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
}

#aboutText{
    min-width: 67%;
    text-align: justify;
}

#photoContainer{
    background-color: #9a413c;
}


#photoContainer img{
    width: 100%;
}

#smallImage{
    display: none;
}


#project-desc{
    font-size: 0.9rem;
}

#scroller{
    height: 100%;
}

.white{
    color: white;
}


.titles{
    color: #8490ae;
    min-width: 40%;
    font-size: 1.3rem;
}

.projects{
    max-height: 312px;
    width: 50%;
}

@media (min-width: 992px) and (max-width: 1226px)
{
    #heading{
        height: auto;
    }
}

@media (max-width: 1226px) {
    #photoContainer{
        display: none;
    }
    #smallImage{
        display: inline-block;
    }
  }
